.demo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.viewingArea {
  border: 2px solid #0969da;
  border-radius: 6px;
  width: 100%;
  overflow: auto;
  padding: 1rem;
  background-color: #f6f8fa;
  box-sizing: border-box;

  &.vertical {
    height: 300px;

    .items {
      flex-direction: column;
    }

    .item {
      margin: 0.5rem 0;
    }
  }

  &.horizontal {
    height: auto;

    .items {
      flex-direction: row;
    }

    .item {
      min-width: 150px;
      margin: 0;
      text-align: center;
    }
  }
}

.items {
  display: flex;
  gap: 0.5rem;
}

.item {
  font-family: sans-serif;
  padding: 1rem;
  background-color: #ffffff;
  border: 2px solid #d0d7de;
  border-radius: 6px;

  &.active {
    background-color: #ddf4ff;
    border: 2px solid #0969da;
    font-weight: bold;
  }
}
