name: Release

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write # Required for OIDC
  contents: read
  checks: write
  statuses: write

jobs:
  release-main:
    name: Main
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'primer/behaviors' && github.ref_name == 'main' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Create release pull request or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          title: Release Tracking
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm run release

  release-canary:
    name: Canary
    if: ${{ github.repository == 'primer/behaviors' && github.ref_name != 'main' && github.ref_name != 'changeset-release/main' }}
    uses: primer/.github/.github/workflows/release_canary.yml@v2.3.0
    with:
      install: npm i
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

  release-candidate:
    name: Candidate
    if: ${{ github.repository == 'primer/behaviors' && github.ref_name == 'changeset-release/main' }}
    uses: primer/.github/.github/workflows/release_candidate.yml@v2.3.0
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
